<header>
  <div class="header-top">
    <div class="inner">
      <div class="lang-selector">
        <select id="langSelect">
          <option value="/se/" {% if globals.get.ID contains "/se/" %}selected{% endif %}>Svenska</option>
          <option value="/no/" {% if globals.get.ID contains "/no/" %}selected{% endif %}>Norsk</option>
          <option value="/" {% unless globals.get.ID contains "/se/" or globals.get.ID contains "/no/" %}selected{% endunless %}>English</option>
        </select>
      </div>
      <nav class="top-navigation">
        {module_menu, version="2", menuId="1900515"}  
      </nav>
    </div>
  </div>

  <div class="header-navigation">
    <div class="logo-container">
      <a href="/"><img src="/_System/assets/img/logotype.svg" alt="Logotyp"></a>
    </div>

    <nav class="main-navigation">
      {module_menu, version="2", menuId="1900510"}  
    </nav>

    <span class="nav-toggle" id="navToggle"></span>
    <nav id="mobileNav">
      {module_menu, version="2", menuId="1900510"}  
      {module_menu, version="2", menuId="1900515"}
    </nav>

  </div>
</header>