.index
  footer
    margin-top: 0

.index-main
  .jumbotron
    background-color: #00CFD8
    background-image: url('/_System/assets/img/jumbotron.jpg')
    background-repeat: no-repeat
    background-position: right bottom

    .content
      +span(full)

      padding: $base-spacing 0 $base-spacing 0

      h1
        color: #FFFFFF

  .content-container
    @extend .container
    padding: $small-spacing 0
    margin-bottom: $small-spacing

    .quote
      +span(full)
      padding-top: $small-spacing

      +breakpoint($medium-screen)
        +span(6)

    .portrait
      +span(full)
      +breakpoint(max-width $medium-screen)
        margin-bottom: $base-spacing

      +breakpoint($medium-screen)
        +span(6 last)

  .button-container
    @extend .container

    margin-bottom: $base-spacing

.index-cta
  background-color: $base-background-color
  padding: 0 $base-spacing

  .content-container
    @extend .container

    .content
      +span(full)
      padding: $base-spacing*1.5 0

      +breakpoint($medium-screen)
        +span(8)
        +push(2)
        padding: $base-spacing*3 0

      +breakpoint($large-screen)
        +span(7)
        +push(2.5)

.index-read-more

  .read-more-section

    .content-container
      @extend .container
      padding-top: $base-spacing!important
      padding-bottom: $base-spacing!important

      .content
        +span(full)

        .quote-container
          +span(full)
          padding: $base-spacing*1.5 0

          +breakpoint($medium-screen)
            +span(6 of 10)
            padding: $base-spacing*3 0

          .quote
            border-bottom: $base-border
            margin-bottom: $small-spacing

        .portrait
          +span(full)

          +breakpoint($medium-screen)
            +span(4 of 10 last)
            padding-top: $base-spacing

          img
            display: block
            margin-left: auto
            margin-right: auto

    &:nth-child(2n+2)

      .content

        +breakpoint($medium-screen)
          .quote-container
            +span(6 of 10 last)

          .portrait
            +span(4 of 10)

    .position
      background-color: #3A3839
      color: #FFFFFF

    .sponsor
      background-image: url('/_System/assets/img/boats.jpg')
      background-size: cover
      background-positon: center center

      .portrait
        padding-bottom: $base-spacing